##### Setup, import modules

In [16]:
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents
import pandas as pd
import numpy as np
import yfinance as yf

### Scrape tickers to query in yahoo finance
For the yahoo finance module we will need to specify a bunch of tickers to query for the data, so I scraped 1000 ticker codes from a wiki page about the Russell 1000 index. Could absolutely swap to some other wiki table if needed.

In [2]:
def pull_russell_1000():
    wikiurl="https://en.wikipedia.org/wiki/Russell_1000_Index"
    response=requests.get(wikiurl)
    print(response.status_code)

    soup = BeautifulSoup(response.text, 'html.parser')
    html_table=soup.find('table',{'class':"wikitable sortable"})
    df=pd.read_html(str(html_table))
    # convert list to dataframe
    df=pd.DataFrame(df[0])
    return df

In [14]:
df=pull_russell_1000()
ticker_list=df['Ticker'].values.tolist()

200

C:\Users\Jeff\AppData\Local\Temp\ipykernel_2808\490063380.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(html_table))

#### Testing ticker tools

In [24]:
tkrs=yf.Tickers(ticker_list)

In [25]:
tkrs.tickers['MSFT'].info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 49,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 56,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 4,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1717200000,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 445.7,
 'open': 447.135,
 'dayLow': 446.51,
 'dayHigh': 450.55,
 'regularMarketPreviousClose': 445.7,
 'regularMarketOpen': 447.135,
 'regularMarketDayLow': 446.51,
 'regularMarketDayHigh': 450.55,
 'dividendRate': 3.0,
 'dividendYield': 0.0067000003,
 'exDividendDate': 1723680000,
 'payoutRatio': 0.24780001,
 'fiveYearAvgDividendYield': 0.93,
 'beta': 0.893,
 'trailingPE': 38.908302,
 'forwardPE': 33.894497,
 'volume': 33802749,
 'regularMarketVolume': 33802749,
 'averageVolume': 18994762,
 'averageVolume10days': 18605160,
 'averageDailyVolume10Day': 18605160,
 'bid': 449.87,
 'ask': 450.12,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3342904328192,
 'fiftyTwoWeekLow': 309.45,
 'fiftyTwoWeekHigh': 450.94,
 'priceToSalesTrailing12Months': 14.129884,
 'fiftyDayAverage': 419.4312,
 'twoHundredDayAverage': 386.6595,
 'trailingAnnualDividendRate': 2.93,
 'trailingAnnualDividendYield': 0.0065739285,
 'currency': 'USD',
 'enterpriseValue': 3369118466048,
 'profitMargins': 0.36426997,
 'floatShares': 7421603274,
 'sharesOutstanding': 7432309760,
 'sharesShort': 43764126,
 'sharesShortPriorMonth': 56321541,
 'sharesShortPreviousMonthDate': 1713139200,
 'dateShortInterest': 1715731200,
 'sharesPercentSharesOut': 0.0058999998,
 'heldPercentInsiders': 0.00054000004,
 'heldPercentInstitutions': 0.73680997,
 'shortRatio': 2.18,
 'shortPercentOfFloat': 0.0058999998,
 'impliedSharesOutstanding': 7432309760,
 'bookValue': 34.058,
 'priceToBook': 13.206296,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1711843200,
 'earningsQuarterlyGrowth': 0.199,
 'netIncomeToCommon': 86181003264,
 'trailingEps': 11.56,
 'forwardEps': 13.27,
 'pegRatio': 2.33,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 14.241,
 'enterpriseToEbitda': 26.743,
 '52WeekChange': 0.36877668,
 'SandP52WeekChange': 0.26238096,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1715731200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 449.78,
 'targetHighPrice': 600.0,
 'targetLowPrice': 436.0,
 'targetMeanPrice': 487.36,
 'targetMedianPrice': 480.0,
 'recommendationMean': 1.6,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 46,
 'totalCash': 80013000704,
 'totalCashPerShare': 10.766,
 'ebitda': 125981999104,
 'totalDebt': 106228998144,
 'quickRatio': 1.132,
 'currentRatio': 1.242,
 'totalRevenue': 236583993344,
 'debtToEquity': 41.963,
 'revenuePerShare': 31.834,
 'returnOnAssets': 0.1541,
 'returnOnEquity': 0.38487998,
 'freeCashflow': 61997998080,
 'operatingCashflow': 110122999808,
 'earningsGrowth': 0.2,
 'revenueGrowth': 0.17,
 'grossMargins': 0.69894,
 'ebitdaMargins': 0.5325,
 'operatingMargins': 0.44588003,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2177}

In [27]:
tkrs.tickers['MSFT'].history(period='1mo')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-05-22 00:00:00-04:00,430.089996,432.410004,427.130005,430.519989,18073700,0.0,0.0
2024-05-23 00:00:00-04:00,432.970001,433.600006,425.420013,427.000000,17211700,0.0,0.0
2024-05-24 00:00:00-04:00,427.190002,431.059998,424.410004,430.160004,11845800,0.0,0.0
2024-05-28 00:00:00-04:00,429.630005,430.820007,426.600006,430.320007,15718000,0.0,0.0
2024-05-29 00:00:00-04:00,425.690002,430.940002,425.690002,429.170013,15517100,0.0,0.0
2024-05-30 00:00:00-04:00,424.299988,424.299988,414.239990,414.670013,28424800,0.0,0.0
2024-05-31 00:00:00-04:00,416.750000,416.750000,404.510010,415.130005,47995300,0.0,0.0
2024-06-03 00:00:00-04:00,415.529999,416.429993,408.920013,413.519989,17484700,0.0,0.0
2024-06-04 00:00:00-04:00,412.429993,416.440002,409.679993,416.070007,14348900,0.0,0.0
2024-06-05 00:00:00-04:00,417.809998,424.079987,416.299988,424.010010,16988000,0.0,0.0
2024-06-06 00:00:00-04:00,424.010010,425.309998,420.579987,424.519989,14861300,0.0,0.0
2024-06-07 00:00:00-04:00,426.200012,426.279999,423.000000,423.850006,13621700,0.0,0.0
2024-06-10 00:00:00-04:00,424.700012,428.079987,423.890015,427.869995,14003000,0.0,0.0
2024-06-11 00:00:00-04:00,425.480011,432.820007,425.250000,432.679993,14551100,0.0,0.0
2024-06-12 00:00:00-04:00,435.320007,443.399994,433.250000,441.059998,22366200,0.0,0.0
2024-06-13 00:00:00-04:00,440.850006,443.390015,439.369995,441.579987,15960600,0.0,0.0
2024-06-14 00:00:00-04:00,438.279999,443.140015,436.720001,442.570007,13582000,0.0,0.0
2024-06-17 00:00:00-04:00,442.589996,450.940002,440.720001,448.369995,20790000,0.0,0.0
2024-06-18 00:00:00-04:00,449.709991,450.140015,444.890015,446.339996,17112500,0.0,0.0
2024-06-20 00:00:00-04:00,446.299988,446.529999,441.269989,445.700012,19877400,0.0,0.0
2024-06-21 00:00:00-04:00,447.380005,450.579987,446.510010,449.779999,34187100,0.0,0.0

In [28]:
tkrs.tickers['MSFT'].actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

### Query yahoo finance for data
Now that we have our list of tickers we can pull data for them from yahoo finance.

In [30]:
data = yf.download(ticker_list, period="1y")

[**                     5%%                      ]  52 of 1003 completed

$BF.B: possibly delisted; No price data found  (period=1y)

[**********************78%%***********           ]  783 of 1003 completed

$LEN.B: possibly delisted; No price data found  (period=1y)

[*********************100%%**********************]  1003 of 1003 completed

9 Failed downloads:
['BF.B', 'LEN.B', 'UHAL.B']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (period=1y)')
['GEV', 'SOLV']: YFInvalidPeriodError("%ticker%: Period '1y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', 'ytd', 'max']")
['BRK.B', 'BF.A', 'CWEN.A', 'HEI.A']: YFChartError('%ticker%: No data found, symbol may be delisted')

$UHAL.B: possibly delisted; No price data found  (period=1y)

1 year of data is a pretty quick download, ~30 secs can easily pull more data in for the actual sim. Seems like some from the russell index fall out, not sure why they don't have some price history but no worries, I think this is good enough sample.

In [34]:
data.head()

Price        Adj Close                                               \
Ticker               A         AA        AAL        AAP        AAPL
Date
2023-06-23  119.419998  32.840000  16.260000  65.669998  186.679993
2023-06-26  118.370003  32.990002  16.440001  67.290001  185.270004
2023-06-27  117.040001  34.430000  17.350000  68.320000  188.059998
2023-06-28  116.370003  33.660000  17.549999  68.080002  189.250000
2023-06-29  118.050003  33.759998  17.600000  68.230003  189.589996

Price                                                                 ...  \
Ticker            ABBV        ABNB         ABT       ACGL       ACHC  ...
Date                                                                  ...
2023-06-23  135.919998  124.730003  108.050003  72.410004  75.730003  ...
2023-06-26  134.949997  123.129997  108.510002  71.220001  76.519997  ...
2023-06-27  132.600006  127.889999  107.790001  71.139999  79.040001  ...
2023-06-28  132.509995  127.629997  107.610001  71.680000  79.320000  ...
2023-06-29  133.229996  125.099998  107.660004  73.029999  79.699997  ...

Price        Volume                                                       \
Ticker          YUM        Z      ZBH    ZBRA      ZG        ZI     ZION
Date
2023-06-23  6219800  1920300  1560600  657000  451900  13694000  3829100
2023-06-26  1486300  1786000  1110000  285500  237400   6778200  2154000
2023-06-27  1593100  3491700   855300  356800  369100   4439300  2377700
2023-06-28  1174600  3944500  1019800  300600  538100   7340300  2500000
2023-06-29  1525200  2398100  1169900  310000  445700   6557700  2917900

Price
Ticker           ZM       ZS      ZTS
Date
2023-06-23  5295000  1498100  2412100
2023-06-26  2457100  1197200  1729200
2023-06-27  2866700  1641300  1452300
2023-06-28  2466800  1841100  1686800
2023-06-29  2572000  1212500  1429000

[5 rows x 6018 columns]

Very weird format, but its a good start! Just need to fix multilevel index, not sure how we will need to format this data for the monte carlo sim.

In [32]:
data.shape

(251, 6018)